
<div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h3>Cadastro de Linguagens</h3>
      <div class="d-inline" style="padding-bottom: 5px; padding-top: 5px;"><a href="#" class="btn btn-success" routerLink="novo">Novo</a></div>
      <table class="table table-striped table-hover">
        <tr>
          <td><input type="text" class="form-control edt_pesquisar_codigo" id="edtLinguagemPesqCodigo" placeholder="Pesquisar por código" (input)="LinguagemPesquisarCodigo($event.target.value)"></td>
          <td><input type="text" class="form-control" id="edtLinguagemPesqDescricao" placeholder="Pesquisar por Nome" (input)="LinguagemPesquisarDescricao($event.target.value)"></td>
          <td></td>
          <td></td>
        </tr>
        <tr *ngFor="let linguagem of linguagens; index as idx">
          <td>{{linguagem.id}}</td>
          <td>{{linguagem.nome}}</td>
          <td><button type="button" class="btn btn-primary" (click)="editar(linguagem);">Editar</button></td>
          <td><button type="button" class="btn btn-danger" (click)="excluir(linguagem, idx);">Excluir</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
